.root{
    height: 100%;
    width: 100%;
}
.main{
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    font-size: 18px;
}
.root .main h3{
    margin-top: 0px;
    text-align: center;
    font-size: 20px;
    color: #0d0c0c;
}
.root .main li{
width: auto;
height: auto;
line-height: 28px;
margin: 0 0 10px 10px; 
}

.root .main li span{
    color: #111111;
    float: right;
    padding-right: 30px;
}
.root .main li a{
    color:#dd1a1a;
}

